@import "../style/setup/variables";

.App {
  text-align: center;
  background-color: $clr1;
  min-height: 100vh;
  height: 100%;
  color: white;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: rgba(43, 43, 43, 0.884);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.281);
  border-radius: 20px;
}

input {
  margin-top: 15px;
  margin-bottom: 30px;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid grey;
  &:focus {
    outline: none;
  }
}
